.container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px 0px;
    grid-auto-flow: row;
    margin-top: 40px;
    grid-template-areas:
      "section1 section1 section1"
      "section2 section2 section2"
      "section3 section3 section3";
  }
  /* div[class*="section"] {
    border-style: solid;
    border-color: red;} */
  
  .section1 { grid-area: section1; }
  
  .section2 { grid-area: section2; }
  
  .section3 { grid-area: section3; }
  

button {
    display: block;
    background-color: #f1f1f1;
    color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 100%;
    border-radius: 25px;
  }
  
  button:hover {
    background-color: #ddd;
    color: black;
  }
  .center {
    margin: auto;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-gap: 10px;
  }