@import "theme/lightThemeColors.scss";
@import "theme/spacers.scss";
@import "theme/typography.scss";

.createdList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: $spacer-64;
}

.createdListContainer {
    margin-top: 20px;
}

.itemsBox {
    display: flex;
    padding: $spacer-32 0;
    justify-content: center;
    align-items: center;
}

.profileCard {
    border: 1px solid $c-neutrals-6;
    border-radius: 16px;
    box-shadow: 0px 40px 32px -24px rgba(15, 15, 15, 0.12);
}

.profileCard:nth-child(2) {
    margin: 0 $spacer-16;
}

.arrow {
    box-sizing: content-box;
    width: 15px;
    height: 15px;
    padding: $spacer-8;
    border: 1px solid transparent;
    border-radius: 50%;
}

.arrow:hover {
    border: 1px solid $c-neutrals-4;
    cursor: pointer;
}

.arrows {
    display: flex;
    margin: 0 auto;
}

.profilesEmptyText {
    color: $c-neutrals-2;
    font-weight: $font-weight-600;
    line-height: $line-height-body-1-bold;
    font-size: $line-height-body-1-bold;
    font-family: $font-family-poppins;
}
