{
    "ALCHEMY_ROPSTEN_API_KEY": "Your API URL",
    "ROPSTEN_PRIVATE_KEY": "YOUR ROPSTEN KEY",
    "ALCHEMY_RINKEBY_API_KEY": "Your API URL",
    "RINKEBY_PRIVATE_KEY": "YOUR RINKEBY KEY",
    "PINIATA_API_KEY": "YOUR PINIATA_API_KEY",
    "PINIATA_API_SECRET": "YOUR PINIATA_API_SECRET"
}