button {
  display: block;
  background-color: #f1f1f1;
  color: black;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 100%;
  border-radius: 25px;
}

button:hover {
  background-color: #ddd;
  color: black;
}
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
  display: grid;
  grid-gap: 10px;
}