@import './profileHorizontalColors.scss'; 

div.profile {
  display: flex;
  row-gap: 0.5rem;
  width: 50%;
}

p.function {
  color: $pFunction;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
}

p.name {
  color: $pName;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}