@import "theme/lightThemeColors.scss";
@import "theme/spacers.scss";
@import "theme/typography.scss";

.button {
    padding: 0 $spacer-24;
    font-size: $font-size-button-2;
    font-weight: $font-weight-700;
    line-height: $line-height-button-2;
    color: $c-neutrals-2;
    border: 2px solid $c-neutrals-6;
    border-radius: 30px;
    height: 40px;
}
