$header-background: #FCFCFD;
$header-border: #fff;
$link-color: #777E91;
$links-divider: #E6E8EC;
$input-background: #F4F5F6;
$button-create-color: #fff;
$button-create-background: #EF466F;
$button-wallet-background: #fff;
$button-wallet-border: #E6E8EC;
