$background: #FCFCFD;
$h2: #23262F;
$pFunction: #777E91;
$pName: #23262F;
$currentBidBorder: #E6E8EC;
$currentBidTitle: #23262F;
$ethValue: #141416;
$dolarValue: #777E90;
$endTimeTitle: #23262F;
$timeValue: #141416;
$timeLabel: #777E90;
$bidButtonBackground: #3772FF;
$bidButtonBorder: #3772FF;
$bidButton: #fff;
$viewButtonBackground: #FCFCFD;
$viewButtonBorder: #E6E8EC;
$arrowButton: #777E90;
$arrowButtonBackground: #FCFCFD;
$arrowButtonBorder: #E6E8EC;