@import './creatorNetworkColors.scss';

section.creatorNetwork {
width: 100vw;
padding-top: 8rem;
}

div.sectionContainer {
  width: 1120px;
  display: flex;
  justify-content: center;
  column-gap: 8rem;
  background-color: $background;
  margin: auto;
}

img.mainImage { 
  width: 640px;
  box-sizing: content-box;
  border-radius: 20px;
}
section.creatorNetwork h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.02em;
  color: $h2;
  text-align: left;
  margin-bottom: 1.25rem;
}

div.container {
  display: flex;
  justify-content: space-between;
}

div.currentBid {
  border: 2px solid $currentBidBorder;
  border-radius: 24px;
  padding: 2rem 0;
  margin-top: 2.5rem;
}

p.currentBidTitle {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: $currentBidTitle;
}

p.ethValue {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  color: $ethValue;
}

p.dolarValue {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: $dolarValue;
}

p.endTime {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: $endTimeTitle;
  margin-top: 1.5rem;
}

div.countdown {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  column-gap: 19px;
}

p.timeValue {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: $timeValue;
}

p.timeLabel {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: $timeLabel;
}

div.buttons {
  display: flex;
  flex-direction: column;
}

button.btnBid {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;  
  color: $bidButton;
  background-color: $bidButtonBackground;
  border: 2px solid $bidButtonBorder;
  border-radius: 90px;
  padding: 1rem 0;
  margin-top: 2.5rem;
}

button.btnView {
  border: 2px solid $viewButtonBorder;
  background-color: $viewButtonBackground;
  border-radius: 90px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  padding: 1rem 0;
  margin-top: 0.5rem;
}

div.arrowButtons {
  display: flex;
  column-gap: 10px;
  text-align: left;
  margin-top: 3rem;
}

div.arrowButtons img {
  width: 14px;
}

button.arrowButton {
  color: $arrowButton;
  background-color: $arrowButtonBackground;
  border: none;
  width: 30px;
  height: 30px;
}

button:hover {
  cursor: pointer;
}

button.arrowButton:hover {
  border: 2px solid $arrowButtonBorder;
  border-radius: 50%;
}

