@import "theme/lightThemeColors.scss";
@import "theme/spacers.scss";
@import "theme/typography.scss";

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: $spacer-32;
    position: relative;
}

.label {
    font-family: $font-family-poppins;
    font-size: $font-size-hairline-2;
    line-height: $line-height-hairline-2;
    font-weight: $font-weight-700;
    color: $c-neutrals-5;
    text-align: left;
    margin-bottom: $spacer-4;
}

.input {
    padding: $spacer-8;
    border: 2px solid $c-neutrals-6;
    border-radius: 12px;
    background-color: $c-neutrals-8;
    font-family: $font-family-poppins;
    font-size: $font-size-caption-bold;
    line-height: $line-height-caption-bold;
    font-weight: $font-weight-500;
    color: $c-neutrals-2;
    text-align: left;
}

.error {
    color: $c-primary-3;
    font-size: $font-size-hairline-2;
    position: absolute;
    bottom: -17px;
    left: 5px;
}