@import "theme/lightThemeColors.scss";
@import "theme/spacers.scss";
@import "theme/typography.scss";

.wrapper {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #262626, $alpha: 0.5);
    z-index: 9999;
}

.exitIcon {
    width: "14px";
    border: 1px solid $c-neutrals-6;
    border-radius: 50%;
    padding: 5px;
}
.exitIcon:hover {
    cursor: pointer;
}

.container {
    background-color: $c-neutrals-8;
    min-width: 20rem;
    min-height: 10rem;
    padding: $spacer-32;
    width: auto;
    border-radius: 16px;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.modal_header {
    width: 100%;
    border-bottom: 1px solid var(--c-neutral-20);
    padding-bottom: var(--spacer-16);
}

.modal_text {
    font-size: $font-size-headline-4;
    font-weight: $font-weight-700;
    color: $c-neutrals-2;
    font-family: $font-family-dm-sans;
    line-height: $line-height-headline-4;
    white-space: nowrap;
}

.modal_description {
    margin-top: 8px;
    width: 100%;
}

.modal_header_top_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
