@import "../../../theme/lightThemeColors.scss";
@import "../../../theme/spacers.scss";
@import "../../../theme/typography.scss";

section.creatorNetwork {
    width: 100vw;
    padding-top: 8rem;
}

div.sectionContainer {
    width: 1120px;
    display: flex;
    justify-content: center;
    column-gap: 8rem;
    background-color: $c-neutrals-8;
    margin: auto;
}

img.mainImage {
    width: 640px;
    box-sizing: content-box;
    border-radius: 20px;
}
section.creatorNetwork h2 {
    font-size: $font-size-headline-1;
    font-weight: $font-weight-700;
    line-height: $line-height-headline-1;
    letter-spacing: $letter-spacing--01em;
    color: $c-neutrals-2;
    text-align: left;
    margin-bottom: $spacer-20;
}

div.container {
    display: flex;
    justify-content: space-between;
}

div.currentBid {
    border: 2px solid $c-neutrals-6;
    border-radius: 24px;
    padding: $spacer-32 0;
    margin-top: 2.5rem;
}

p.currentBidTitle {
    font-family: $font-family-poppins;
    font-size: $font-size-body-1;
    font-weight: $font-weight-500;
    line-height: $line-height-body-2;
    text-align: center;
    color: $c-neutrals-2;
}

p.ethValue {
    font-size: $font-size-headline-2;
    font-weight: $font-weight-700;
    line-height: $line-height-headline-2;
    text-align: center;
    color: $c-neutrals-1;
}

p.dolarValue {
    font-family: $font-family-poppins;
    font-size: $font-size-body-1-bold;
    font-weight: $font-weight-600;
    line-height: $line-height-body-1-bold;
    text-align: center;
    color: $c-neutrals-4;
}

p.endTime {
    font-family: $font-family-poppins;
    font-size: $font-size-body-2-bold;
    font-weight: $font-weight-500;
    line-height: $line-height-body-2-bold;
    text-align: center;
    color: $c-neutrals-2;
    margin-top: $spacer-24;
}

div.countdown {
    display: flex;
    justify-content: center;
    padding-top: $spacer-8;
    column-gap: 19px;
}

p.timeValue {
    font-size: $font-size-headline-4;
    font-weight: $font-weight-700;
    line-height: $line-height-headline-4;
    color: $c-neutrals-1;
}

p.timeLabel {
    font-family: $font-family-poppins;
    font-size: $font-size-body-2-bold;
    font-weight: $font-weight-500;
    line-height: $line-height-body-2-bold;
    text-align: center;
    color: $c-neutrals-4;
}

div.buttons {
    display: flex;
    flex-direction: column;
}

button.btnBid {
    width: 100%;
    font-weight: $font-weight-700;
    font-size: $font-size-button-1;
    line-height: $line-height-button-1;
    color: $c-neutrals-8;
    background-color: $c-primary-1;
    border: 2px solid $c-primary-1;
    border-radius: 90px;
    padding: $spacer-16 0;
    margin-top: 2.5rem;
}

button.btnView {
    width: 100%;
    border: 2px solid $c-neutrals-6;
    background-color: $c-neutrals-8;
    border-radius: 90px;
    font-weight: $font-weight-700;
    font-size: $font-size-button-1;
    line-height: $line-height-button-1;
    padding: $spacer-16 0;
    margin-top: $spacer-8;
}

div.arrowButtons {
    display: flex;
    column-gap: 10px;
    text-align: left;
    margin-top: $spacer-48;
}

div.arrowButtons img {
    width: 14px;
}

button.arrowButton {
    color: $c-neutrals-4;
    background-color: $c-neutrals-8;
    border: none;
    width: 30px;
    height: 30px;
}

button:hover {
    cursor: pointer;
}

button.arrowButton:hover {
    border: 2px solid $c-neutrals-6;
    border-radius: 50%;
}
