@import "theme/lightThemeColors.scss";
@import "theme/spacers.scss";
@import "theme/typography.scss";

.creatorNetwork {
    width: 100%;
    padding-top: 8rem;
}

.sectionContainer {
    width: 1120px;
    display: flex;
    justify-content: space-between;
    column-gap: $spacer-128;
    background-color: $c-neutrals-8;
    margin: auto;
}

.mainImage {
    width: 640px;
    height: 750px;
    object-fit: cover;
    border-radius: 20px;
}

.header {
    font-size: $font-size-headline-1;
    font-weight: $font-weight-700;
    line-height: $line-height-headline-1;
    letter-spacing: $letter-spacing--01em;
    color: $c-neutrals-2;
    text-align: left;
    margin-bottom: $spacer-20;
}

.container {
    display: flex;
    justify-content: space-between;
}

.currentBid {
    border: 2px solid $c-neutrals-6;
    border-radius: 24px;
    padding: $spacer-32 0;
    margin-top: 2.5rem;
}

.currentBidTitle {
    font-family: $font-family-poppins;
    font-size: $font-size-body-1;
    font-weight: $font-weight-500;
    line-height: $line-height-body-2;
    text-align: center;
    color: $c-neutrals-2;
}

.ethValue {
    font-size: $font-size-headline-2;
    font-weight: $font-weight-700;
    line-height: $line-height-headline-2;
    text-align: center;
    color: $c-neutrals-1;
}

.noBids {
    padding-top: $spacer-12;
    color: $c-neutrals-4;
    font-size: $font-size-caption;
    font-weight: $font-weight-500;
}

.dolarValue {
    font-family: $font-family-poppins;
    font-size: $font-size-body-1-bold;
    font-weight: $font-weight-600;
    line-height: $line-height-body-1-bold;
    text-align: center;
    color: $c-neutrals-4;
}

.endTime {
    font-family: $font-family-poppins;
    font-size: $font-size-body-2-bold;
    font-weight: $font-weight-500;
    line-height: $line-height-body-2-bold;
    text-align: center;
    color: $c-neutrals-2;
    margin-top: $spacer-24;
}

.countdown {
    display: flex;
    justify-content: center;
    padding-top: $spacer-8;
    column-gap: 19px;
}

.timeValue {
    font-size: $font-size-headline-4;
    font-weight: $font-weight-700;
    line-height: $line-height-headline-4;
    color: $c-neutrals-1;
}

.timeLabel {
    font-family: $font-family-poppins;
    font-size: $font-size-body-2-bold;
    font-weight: $font-weight-500;
    line-height: $line-height-body-2-bold;
    text-align: center;
    color: $c-neutrals-4;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.btnBid {
    width: 100%;
    font-weight: $font-weight-700;
    font-size: $font-size-button-1;
    line-height: $line-height-button-1;
    color: $c-neutrals-8;
    background-color: $c-primary-1;
    border: 2px solid $c-primary-1;
    border-radius: 90px;
    padding: $spacer-16 0;
    margin-top: 2.5rem;
}

.btnView {
    width: 100%;
    border: 2px solid $c-neutrals-6;
    background-color: $c-neutrals-8;
    border-radius: 90px;
    font-weight: $font-weight-700;
    font-size: $font-size-button-1;
    line-height: $line-height-button-1;
    padding: $spacer-16 0;
    margin-top: $spacer-8;
}

.btnBid:hover,
.btnView:hover {
    cursor: pointer;
}
