export RINKEBY_ACC1_PRIVATE_KEY =
export RINKEBY_ACC2_PRIVATE_KEY =
export RINKEBY_ACC3_PRIVATE_KEY =
export WEB3_INFURA_PROJECT_ID =
export ETHERSCAN_TOKEN =
export PINIATA_PUBLIC_KEY =
export PINIATA_PRIVATE_KEY =