@import "../../theme/typography.scss";
@import "../../theme/spacers.scss";
@import "../../theme/lightThemeColors.scss";

.topBrandsContainer {
    background-color: $c-neutrals-8;
    padding: $spacer-128 $spacer-160;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 1440px;
    width: 100%;
    height: 100%;
    text-align: start;
}

.headerText {
    font-family: $font-family-dm-sans;
    font-style: normal;
    font-weight: $font-weight-700;
    font-size: $font-size-headline-3;
    line-height: $line-height-headline-3;
    letter-spacing: $letter-spacing--01em;
    color: $c-neutrals-2;
    margin-bottom: $spacer-48;
}

.listsContainer {
    display: flex;
}

.nftList {
    margin-left: $spacer-32;
}

.creatorList {
    border-left: 1px solid $c-neutrals-6;
    padding-left: $spacer-32;
    text-align: left;
}

.latestUploadText {
    font-family: $font-family-poppins;
    font-weight: $font-weight-600;
    font-size: $font-size-caption-2-bold;
    line-height: $line-height-caption-2-bold;
    color: $c-neutrals-4;
}

.discoverButton {
    background-color: $c-neutrals-8;
    border: 2px solid $c-neutrals-6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    padding: 12px 16px;
    margin-top: $spacer-8;
}

.arrowRight {
    height: 6px;
    padding-left: $spacer-16;
    filter: invert(11%) sepia(14%) saturate(1049%) hue-rotate(187deg) brightness(86%) contrast(87%);
}

.discoverButtonText {
    color: $c-neutrals-2;
    font-family: $font-family-dm-sans;
    font-size: $font-size-button-2;
    line-height: $line-height-button-2;
    font-weight: $font-weight-700;
}
