@import "theme/lightThemeColors.scss";
@import "theme/spacers.scss";
@import "theme/typography.scss";

.sectionContainer {
    width: 1440px;
    margin-top: 200px;
    margin-left: $spacer-160;
    margin-right: $spacer-64;
    display: flex;
}

.productImage {
    width: 50%;
    max-width: 640px;
    border-radius: $spacer-16;
}

.productInfo {
    margin-left: $spacer-96;
}

.productName {
    font-size: $font-size-headline-3;
    font-weight: $font-weight-700;
    line-height: $line-height-headline-3;
    letter-spacing: $letter-spacing--01em;
    color: $c-neutrals-2;
    text-align: left;
    padding-bottom: $spacer-12;
}

.priceInfo {
    display: flex;
    column-gap: $spacer-12;
    align-items: center;
    margin-bottom: $spacer-48;
}

.dolarValue {
    font-size: $font-size-button-2;
    font-weight: $font-weight-700;
    line-height: $line-height-button-1;
    color: $c-neutrals-4;
    border: 2px solid $c-neutrals-6;
    border-radius: 3px;
    padding: $spacer-2;
}

.stockValue {
    font-size: $font-size-button-1;
    font-weight: $font-weight-700;
    line-height: $line-height-button-1;
    color: $c-neutrals-4;
}

.productDescription {
    margin-bottom: $spacer-48;
    text-align: left;
    font-size: $font-size-body-2;
    font-weight: $font-weight-500;
    line-height: $line-height-body-2;
    color: $c-neutrals-4;
}

.bids {
    text-align: left;
    font-size: $font-size-headline-4;
    font-weight: $font-weight-700;
    line-height: $line-height-headline-4;
    color: $c-neutrals-4;
}

.profilePicture {
    width: 30px;
}
