@import "theme/lightThemeColors.scss";
@import "theme/spacers.scss";
@import "theme/typography.scss";

.passwordInput {
    padding: $spacer-8;
    border: 2px solid $c-neutrals-6;
    border-radius: 12px;
    background-color: $c-neutrals-8;
    font-family: $font-family-poppins;
    font-size: $font-size-caption-bold;
    line-height: $line-height-caption-bold;
    font-weight: $font-weight-500;
    color: $c-neutrals-2;
    text-align: left;
}

.error {
    color: $c-primary-3;
    font-size: $font-size-hairline-2;
    padding-left: $spacer-8;
}
