@import "../../../theme/lightThemeColors.scss";
@import "../../../theme/spacers.scss";
@import "../../../theme/typography.scss";

.hotBidContainer {
    text-align: left;
    max-width: 1440px;
    padding: $spacer-128 $spacer-160;
    margin: 0 auto;
}

.nftsContainer {
    display: flex;
    column-gap: 30px;
}

.headerSection {
    font-family: $font-family-dm-sans;
    font-size: $font-size-headline-3;
    line-height: $line-height-headline-3;
    font-weight: $font-weight-700;
    letter-spacing: $letter-spacing--01em;
    color: $c-neutrals-2;
    padding-bottom: $spacer-64;
    padding-top: $spacer-8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrowButtons {
    display: flex;
}

.arrowButtons img {
    width: 14px;
}

.arrowButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $c-neutrals-4;
    background-color: $c-neutrals-8;
    border: none;
    width: 30px;
    height: 30px;
    border: 2px solid transparent;
}

.hoverButton:hover {
    border: 2px solid $c-neutrals-6;
    border-radius: 50%;
    cursor: pointer;
}
