$c-primary-1: #3772ff;
$c-primary-1-variant: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), #3772ff;
$c-primary-2: #9757d7;
$c-primary-3: #ef466f;
$c-primary-4: #45b36b;

$c-secondary-1: #4bc9f0;
$c-secondary-2: #e4d7cf;
$c-secondary-3: #ffd166;
$c-secondary-4: #cdb4db;

$c-neutrals-1: #141416;
$c-neutrals-2: #23262f;
$c-neutrals-3: #353945;
$c-neutrals-4: #777e91;
$c-neutrals-5: #b1b5c4;
$c-neutrals-6: #e6e8ec;
$c-neutrals-7: #f4f5f6;
$c-neutrals-8: #fcfcfd;
