$font-family-dm-sans: "DM Sans", sans-serif;
$font-family-poppins: "Poppins", sans-serif;

$font-weight-700: 700;
$font-weight-600: 600;
$font-weight-500: 500;
$font-weight-400: 400;

$letter-spacing--01em: -0.01em;
$letter-spacing--02em: -0.02em;

$line-height-hero: 96px;
$line-height-headline-1: 64px;
$line-height-headline-2: 56px;
$line-height-headline-3: 48px;
$line-height-headline-4: 40px;
$line-height-body-1: 32px;
$line-height-body-1-bold: $line-height-body-1;
$line-height-body-2: 24px;
$line-height-body-2-bold: 24px;
$line-height-caption: 24px;
$line-height-caption-bold: $line-height-caption;
$line-height-caption-2: 20px;
$line-height-caption-2-bold: $line-height-caption-2;
$line-height-hairline-1: 16px;
$line-height-hairline-2: 12px;
$line-height-button-1: 16px;
$line-height-button-2: 16px;

$font-size-hero: 6rem; //90px
$font-size-headline-1: 4rem; //64px
$font-size-headline-2: 3rem; //48px
$font-size-headline-3: 2.5rem; //40px
$font-size-headline-4: 2rem; //32px
$font-size-body-1: 1.125rem; //18px
$font-size-body-1-bold: 1.5rem; //24px
$font-size-body-2: 1rem; //16px
$font-size-body-2-bold: 1.125rem; //18px
$font-size-caption: 0.875rem; //14px
$font-size-caption-bold: $font-size-caption;
$font-size-caption-2: 0.75rem; //12px
$font-size-caption-2-bold: $font-size-caption-2;
$font-size-hairline-1: 1rem; //16px
$font-size-hairline-2: 0.75rem; //12px
$font-size-button-1: 1rem; //16px
$font-size-button-2: 0.875rem; //18px
